html, body {
  height: 100%;
  width: 100%;
      font-family: 'Oswald', sans-serif;
    background-color: mediumseagreen;
    text-align: center;
}

img {
    width: 300px;
}

h1 {
  font-size: 40px;
}

h4 {
  font-size: 25px;
}
.japan-answer {
  display: none;
}